<%- include('../partials/header') %>


<% if (!user) { %>
	<p>please login to continue</p>
<% } else { %>	
	<% if (teams.length !== 0) { %>	
		<table>
			<tr>
				<th>Team</th>
				<th>Tournament</th>
				<th>Owner</th>
			</tr>
			<% teams.map(t => { %>
				<tr>
					<td><a href="/teams/<%= t._id %>"><%= t.name %></a></td>
					<td><a href="/tournaments/<%= t.tournament._id %>"><%= t.tournament.name %></a></td>
					<td>
						<%= t.user.name %>
						<% if (user?._id.equals(t.user._id)) { %>
							<form
								action="/teams/<%= t._id %>?_method=DELETE"
								method="POST"
								class="delete-form"
							>
								<button type="submit">X</button>
							</form>
						<% } %>
					</td>
				</tr>
			<% }).join('') %>
		</table>
	<% } else { %>
		<p>No Teams yet!  Build one out!</p>
	<% } %>
<% } %>

<%- include('../partials/footer') %>