<%- include('../partials/header') %>


<% if (!user) { %>
	<p>please login to continue</p>
<% } else if (team) { %>
    <p>Tournament: <a href="/tournaments/<%= team.tournament._id %>"><%= team.tournament.name %></a></p>
    <p>Owner: <%= team.user.name %></p>
    
    <% if (team.golfers.length === 0) { %>
        <p>No Golfers Yet!</p>
    <% } else { %>
        <h4>Pro Golfers: </h4>
        <ul>
            <% team.golfers.map(g => { %>
                <li>
                    <%= g.name %>
                    <% if (user?._id.equals(team.user._id)) { %>
                        <form
                            action="/teams/<%= team._id %>/golfers/<%= g.id %>?_method=DELETE"
                            method="POST"
                            class="delete-form"
                        >
                            <button type="submit">X</button>
                        </form>
                    <% } %>
                </li>
            <% }).join('') %>
        </ul>
    <% } %>

    <% if (user?._id.equals(team.user._id)) { %>
    <form action="/teams/<%= team._id %>/golfers" method="POST">
        <label for="golfer">Choose Golfer to Add: </label>
        <select name="golfer">
            <%- golfers.map(g =>
                `<option value="${g._id}">${g.name}</option>`
            ) %>
        </select>
        <button type="submit">Add Golfer</button>
    </form>
    <% } %>
<% } else { %>
    <p>No team exists with that Id</p>
<% } %>

<%- include('../partials/footer') %>
