<%- include('../partials/header') %>


<% if (!user) { %>
	<p>please login to continue</p>
<% } else if (tournament) { %>
    <p>Owner: <%= tournament.user.name %></p>
    <p>Max Players: <%= tournament.maxPlayers %></p>
    <p>Bet Amount: $<%= tournament.betAmount %></p>
    <p>Par: <%= tournament.par %></p>
    <p>Cut Line: <%= tournament.par + tournament.cutLine %></p>

    <table>
        <tr>
            <th>Team</th>
            <th>Owner</th>
        </tr>
        <% teams.map(t => { %>
        <tr>
            <td><a href="/teams/<%= t._id %>"><%= t.name %></a></td>
            <td>
                <%= t.user.name %>
                <% if (user?._id.equals(t.user._id)) { %>
                    <form
                        action="/teams/<%= t._id %>?_method=DELETE"
                        method="POST"
                        class="delete-form"
                    >
                        <button type="submit">X</button>
                    </form>
                <% } %>
            </td>
        </tr>
        <% }).join('') %>
    </table>
    
    <% if(teams.length === 0) { %>
    <p>No Teams Yet!</p>
    <% } %>
    
    <p><a href="/tournaments/<%= tournament._id %>/teams/new">Create Team</a></p>

    <% if (user?._id.equals(tournament.user._id)) { %>
    <p><a href="/tournaments/<%= tournament._id %>/edit">Edit Team</a></p>
    <% } %>
<% } else { %>
    <p>No team exists with that Id</p>
<% } %>

<%- include('../partials/footer') %>
