<%- include('../partials/header') %>


<% if (!user) { %>
	<p>please login to continue</p>
<% } else if (tournament) { %>
    <p>Max Players: <%= tournament.maxPlayers %></p>
    <p>Bet Amount: $<%= tournament.betAmount %></p>
    <p>Par: <%= tournament.par %></p>
    <p>Cut Line: <%= tournament.par + tournament.cutLine %></p>

    <h3>Teams</h3>

    <ul>        
        <% teams.map(t => { %>
            <li>
                <a href="/teams/<%= t._id %>"><%= t.name %></a>
                <% if (user?._id.equals(t.user)) { %>
                    <form
                        action="/teams/<%= t._id %>?_method=DELETE"
                        method="POST"
                        class="delete-form"
                    >
                        <button type="submit">X</button>
                    </form>
                <% } %>
            </li>
        <% }).join('') %>
    </ul>
    
    <a href="/tournaments/<%= tournament._id %>/teams/new">Create Team</a>

<% } else { %>
    <p>No team exists with that Id</p>
<% } %>

<%- include('../partials/footer') %>
